.wrapper {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
}

#curent {
  padding: 1rem;
  width: 5rem;
  display: inline-block;
}

#balloon {
  color: palevioletred;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
}

.bordered {
  border: 1px solid #ddd;
}
