#header,
#main,
#evenContainer,
#footer {
  position: relative;
}

#header {
  background-color: #fff;
}

#header::before {
  content: 'header';
}

#main {
  text-align: center;
}

#main::before {
  content: 'main';
}

#evenContainer::before {
  content: 'evenContainer';
}

#footer {
  font-size: 10px;
}

#footer::before {
  content: 'footer';
}

#curent {
  padding: 1rem;
  width: 5rem;
  display: inline-block;
}

#balloon::before {
  content: url(../img/balloon.svg);
  left: -150px;
}
